.titulos{
    text-align: center;
}

.carta{
    border-color: black;
    border-style: solid;
    border-radius: 25px;
    max-width: 1080px;
    margin: auto;
    background-color: rgb(153, 117, 17);
    
}

.halcon{
    
}