html{
    width: 100%;
    height: 100%;
    background-image: url(imagenes/jawa.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

@font-face{
    font-family: "jabba";
    src: url("jabba.ttf");
}

.titulos{
    font-family: "jabba";
    text-align: center;
}

.contenedor{
    display: flex;
}

.carta{
    margin: 13px;
    border: 5px solid #000000;
    max-width: 580px;
    background-image: url(imagenes/chapa1.jpg);
    max-height: 350px;
}

figure img {
    width: 100%;
    height: 100%;
}

figure{
    max-height: 260px;
}

img:hover {
    border: 5px solid #777;
}

.nombre {
    font-family: "jabba";
    padding: 15px;
    text-align: center;
}